h1 {
     color: whitesmoke;
     background-color: #01315a;
     margin-top: 0px;
     height: 45px;
 }

body {
    text-align: center;
    height: 100%;
}

html {
    background-size: cover ;
    height: 100%;
}

.footer {
        color: whitesmoke;
        bottom: 0px;
        height: 20px;
        left: 0;
        right: 0;
        background-color: #01315a;
}

#content {
  margin-top: 100px;
}

input {
  text-align: center;
  width: 100%;
  height: 50px;
}

#search {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #01315a;
  }

#random {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #01315a !important;
}

  .well {
    color: whitesmoke;
    background-color: #05113c;
    background-size: auto;
    margin-bottom: 5px;
  }
